.svg-shape0 {
    -webkit-mask: url(../images/background.svg) no-repeat center;
    mask: url(../images/background.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape1 {
    background-color: rgb(117, 115, 115);
    -webkit-mask: url(../images/picture.svg) no-repeat center;
    mask: url(../images/picture.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape2 {

    -webkit-mask: url(../images/picmargin.svg) no-repeat center;
    mask: url(../images/picmargin.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape3 {

    -webkit-mask: url(../images/contact.svg) no-repeat center;
    mask: url(../images/contact.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape4 {

    -webkit-mask: url(../images/bigcurve.svg) no-repeat center;
    mask: url(../images/bigcurve.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape5 {
    -webkit-mask: url(../images/sidelabel.svg) no-repeat center;
    mask: url(../images/sidelabel.svg) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  .sidetext-container{
    position: absolute;
    top: 55%; 
    left: 5%; 
    max-width: 18vw;
    height: 10vw;
    display: flex;
    align-items: center;
    

  }
  .sidelabel-text {
    font-size: 1.5vw; 
    color: black;
    z-index: 10;
    margin: 2%;
    
  }

  .slogan-container{
    position: absolute;
    top: 13%;
    left: 12%;
    display: flex;
    align-items: center;
    height: 14vw;
    max-width: 15vw;
  }
  .slogan-text {

    /* transform: translate(-50%, -50%); */
    font-size: 2vw;
    color: white;
    z-index: 10;
    margin: 2%;
    word-wrap: break-word;
  }

  #logo{
    position: absolute;
    top: 8%;
    left: 5%;
    color: white;
    z-index: 20;
    margin: 2%;
    width: 10.4vw;
    height: 2.6vw;
    overflow: hidden;
    object-fit: cover;
  }

  #logo img{
    height: 100%;
    width: auto;
  }

  
  #contact-us{
    position: absolute;
    top: 8%;
    left: 69%;
    font-size: 1.2vw; 
    color: #F6CF08;
    z-index: 10;
    margin: 2%;
    max-width: 300px;
  }

  .contact-no{
    position: absolute;
    top: 17%;
    left: 70%;
    font-size: 1.3vw; 
    color: white;
    z-index: 20;
    margin: 2%;
    max-width: 10.4vw;
  }

  .websitename-container{
    display: flex;
    align-items: center;
  }
  .website{
    position: absolute;
    top: 85%;
    left: 10%;
   
    font-size: 1.3vw; 
    color: white;
    z-index: 20;
    margin: 2%;
    max-width: 10.4vw;
    

  }

  .svg-shape1 .camera{
    top: 58%;
    left: 70%;
  }