.navbar {
    background-color: #27395c;
    overflow: hidden;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-list li {
    display: inline;
  }
  
  .navbar-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-list a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active-link {
    background-color: #4CAF50;
    color: white;
  }
  