body{
  background-color: #e8eefa;
}
/* Container to hold both form and poster */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.form-container {
  width: 40%; /* Adjust width as needed */
  padding: 20px;
  margin: 20px;
  background-color: #f8fafe; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poster-container {
  width: 55%; /* Adjust width as needed */
}

.svg-container {
    position: relative;
    width: 100%;

  }
  .svg-wrapper{
    position: relative;
    width: 40vw;
    height: 40vw;
    background-color: #112546;
    /* top: 50px;
    margin: auto; */
  }
  .svg-image {
    position: absolute;
    height: 100%;
    width: auto;
   
  }
  
  .uploaded-image {
    position: absolute;
    top: 100px; 
    left: 100px; 
    width: auto; 
    height: 100%; 
    z-index: 10; 
  }



  .masked-container{
    display: flex;
    flex-wrap: wrap;
  }

  .masked-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }


  .svg-box{
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .svg-shape0 {
    -webkit-mask: url(../images/background.svg) no-repeat center;
    mask: url(../images/background.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape1 {
    background-color: rgb(117, 115, 115);
    -webkit-mask: url(../images/picture.svg) no-repeat center;
    mask: url(../images/picture.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape2 {

    -webkit-mask: url(../images/picmargin.svg) no-repeat center;
    mask: url(../images/picmargin.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape3 {

    -webkit-mask: url(../images/contact.svg) no-repeat center;
    mask: url(../images/contact.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape4 {

    -webkit-mask: url(../images/bigcurve.svg) no-repeat center;
    mask: url(../images/bigcurve.svg) no-repeat center;
    mask-size: contain;
  }

  .svg-shape5 {
    -webkit-mask: url(../images/sidelabel.svg) no-repeat center;
    mask: url(../images/sidelabel.svg) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  .sidetext-container{
    position: absolute;
    top: 55%; 
    left: 5%; 
    max-width: 18vw;
    

  }
  .sidelabel-text {
    font-size: 1.5vw; 
    color: black;
    z-index: 10;
    margin: 2%;
    
  }

  .slogan-container{
    position: absolute;
    top: 15%;
    left: 12%;
    display: flex;
    align-items: center;
    height: 14vw;
    max-width: 15vw;
  }
  .slogan-text {

    /* transform: translate(-50%, -50%); */
    font-size: 2vw;
    color: white;
    z-index: 10;
    margin: 2%;
    word-wrap: break-word;
  }

  #logo{
    position: absolute;
    top: 8%;
    left: 5%;
    color: white;
    z-index: 20;
    margin: 2%;
    width: 10.4vw;
    height: 2.6vw;
    overflow: hidden;
    object-fit: cover;
  }

  #logo img{
    height: 100%;
    width: auto;
  }

  
  #contact-us{
    position: absolute;
    top: 8%;
    left: 69%;
    font-size: 1.2vw; 
    color: #F6CF08;
    z-index: 10;
    margin: 2%;
    max-width: 300px;
  }

  .contact-no{
    position: absolute;
    top: 17%;
    left: 70%;
    font-size: 1.3vw; 
    color: white;
    z-index: 20;
    margin: 2%;
    max-width: 10.4vw;
  }

  .websitename-container{
    display: flex;
    align-items: center;
  }
  .website{
    position: absolute;
    top: 85%;
    left: 10%;
   
    font-size: 1.3vw; 
    color: white;
    z-index: 20;
    margin: 2%;
    max-width: 10.4vw;
    

  }


  textarea{
    vertical-align: top;
    margin-bottom: 10px;
    background-color: #e7edf6;
    border-width: 0.01cap;
  }

  input{
    margin-bottom: 10px;
    background-color: #e7edf6;
    border-width: 0.01cap;
  }

input[type="text"],
textarea,
input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="file"] {
  padding: 0;
}

  button{
    background-color: #46639c;
    color: white;
    padding: 5px;
    border-radius: 5%;
    stroke: none;
  }
