body{
  background-color: #e8eefa;
}
/* Container to hold both form and poster */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.form-container {
  width: 40%; /* Adjust width as needed */
  padding: 20px;
  margin: 20px;
  background-color: #f8fafe; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poster-container {
  width: 55%; /* Adjust width as needed */
}

.svg-container {
    position: relative;
    width: 100%;

  }
  .svg-wrapper{
    position: relative;
    width: 40vw;
    height: 40vw;
    background-color: #848484;
    /* top: 50px;
    margin: auto; */
  }
  .svg-image {
    position: absolute;
    height: 100%;
    width: auto;
   
  }
  
  .uploaded-image {
    position: absolute;
    top: 100px; 
    left: 100px; 
    width: auto; 
    height: 100%; 
    z-index: 10; 
  }



  .masked-container{
    display: flex;
    flex-wrap: wrap;
  }

  .masked-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }


  .svg-box{
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  

  textarea{
    vertical-align: top;
    margin-bottom: 10px;
    background-color: #e7edf6;
    border-width: 0.01cap;
  }

  input{
    margin-bottom: 10px;
    background-color: #e7edf6;
    border-width: 0.01cap;
  }

input[type="text"],
textarea,
input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="file"] {
  padding: 0;
}

  button{
    background-color: #46639c;
    color: white;
    padding: 5px;
    border-radius: 5%;
    stroke: none;
  }
